{% load staticfiles%}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>DressUpBaby</title>
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Bazaar Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" /> -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>

<!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /> -->
<link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" /> 
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- animation -->
<link href="{% static 'css/menu.css'%}" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->  
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{%static 'css/font-awesome.css' %}" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<!-- <script src="{%static 'js/jquery-2.2.3.min.js' %}"></script>  -->
<!-- //js --> 


<!-- web-fonts -->
<!-- <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'> -->
<!-- web-fonts --> 

<script src="{% static 'js/owl.carousel.js' %}"></script>  


<script>
$(document).ready(function() { 
	$("#owl-demo").owlCarousel({ 
	  autoPlay: 3000, //Set AutoPlay to 3 seconds 
	  items :4,
	  itemsDesktop : [640,5],
	  itemsDesktopSmall : [480,2],
	  navigation : true
 
	}); 
}); 
</script>
<script src="{% static 'js/jquery-scrolltofixed-min.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function() {

        // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

        $('.header-two').scrollToFixed();  
        // previous summary up the page.

        var summaries = $('.summary');
        summaries.each(function(i) {
            var summary = $(summaries[i]);
            var next = summaries[i + 1];

            summary.scrollToFixed({
                marginTop: $('.header-two').outerHeight(true) + 10, 
                zIndex: 999
            });
        });
    });
</script>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="{%static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
<script src="{%static 'js/bootstrap.js' %}"></script>	
</head>
<body>
	
	
	<!-- header -->
	<div class="header">
		<div class="w3ls-header"><!--header-one--> 
			<div class="w3ls-header-left">
				<p><a href="#">UPTO $50 OFF ON FROCKS | USE COUPON CODE RDEF056 </a></p>
			</div>
			{%if user.is_authenticated %}
			<div class="w3ls-header-right">
				<ul>
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> hi {{user}}<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li id="password_change_click"><a href="#">Reset Password </a></li> 
							<li><a href="{% url 'my_order' %}">My Orders</a></li>  
							<li><a href="{% url 'my_order' %}">My wallet</a></li>  

							<li><a href="{% url 'customer_logout' %}">Log Out</a></li> 
						</ul> 
					</li> 
					

					
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-percent" aria-hidden="true"></i> Today's Deals<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="offers.html">Cash Back Offers</a></li> 
							<li><a href="offers.html">Product Discounts</a></li>
							<li><a href="offers.html">Special Offers</a></li> 
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift" aria-hidden="true"></i> Gift Cards<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="offers.html">Product Gift card</a></li> 
							<li><a href="offers.html">Occasions Register</a></li>
							<li><a href="offers.html">View Balance</a></li> 
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="contact.html" class="dropdown-toggle"><i class="fa fa-map-marker" aria-hidden="true"></i> Store Finder</a>
					</li> 
					<li class="dropdown head-dpdn">
						<a href="card.html" class="dropdown-toggle"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Credit Card</a>
					</li> 
					<li class="dropdown head-dpdn">
						<a href="help.html" class="dropdown-toggle"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
					</li>
				</ul>
			</div>

			<div class="modal" id="change_pwd_modal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="model-header">
							<button type="button" class="close class2" data-dismiss="modal" >&times;</button>
							<center><h4>Password Reset Menu</h4></center>
						</div>
						<div class="modal-body">
							<table>
								<thead>
								<tr>
															<th>Current Password : </th>
															<th><input type="password" id="old_password" placeholder="Current Password"></th>
								</tr>
								<tr>
															<th>New Password : </th>
															<th><input type="password" id="new_password1" placeholder="NEw Password"></th>
								</tr>
								<tr>
															<th>Repeat Password : </th>
															<th><input type="password" id="new_password2" placeholder="Repeat New Password"></th>
								</tr>

								</thead>

							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal" id="submit">Submit</button>
							<button class="btn btn-danger class2" data-dismiss="modal">Close</button>
												
						</div>
					</div>
				</div>
			</div>



		<script type="text/javascript">
    $(document).ready(function(){
    	$("#password_change_click").click(function(){
		$("#change_pwd_modal").modal('show');
	});
	$("#submit").click(function(){
		var form = $(this).closest("form");
        var old_pwd = $('#old_password').val();
        var new_pwd =  $('#new_password1').val();
        var new_pwd2 = $('#new_password2').val(); 
        if (new_pwd==new_pwd2){
            $.ajax({
	        url: '/change/password/',
	        type:"POST",
	        data: {'csrfmiddlewaretoken': '{{ csrf_token }}','old_password':old_pwd,'new_password':new_pwd },
	        dataType: 'json',
	        success: function (response) {
	        	alert(response);
	        	$("#change_pwd_modal").modal('hide');
	            }
	        });

        }    
        else{
            alert("Password miss match");
        }  
            
		});

		$("#product_buy_click").click(function(){
			alert("You have to pay cash at the time of delivery");
    		document.getElementById("qnt_req").value = $('#amounts_required').val();
    		document.getElementById("siz_pdt").value = $('#size_of_product').val();
    		$("#change_pdt_modal").modal('show');
    		


    	});
		$("#submit_pdt").click(function(){

	        var qantity = $('#amounts_required').val();
	        var size =  $('#size_of_product').val();
	        
	        var name =  $('#pdt_name34').val();

	        var usr_password = $('#usr_pwd').val();
	        

	        $.ajax({
		        url: '/buy/',
		        type:"POST",
		        data: {'csrfmiddlewaretoken': '{{ csrf_token }}','pdt_qantity':qantity,'pdt_size':size , 'pdt_name':name , 'pwd':usr_password },
		        dataType: 'json',
		        success: function (response) {
		        	alert(response);
    				$("#change_pdt_modal").modal('hide');
		            }
		        });
        });
    });
</script>


			{% else %}
			<div class="w3ls-header-right">
				<ul>
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> My Account<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'customer_regiseraion' %}">Sign Up </a></li> 
							<li><a href="login">Login </a></li> 
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-percent" aria-hidden="true"></i> Today's Deals<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Cash Back Offers</a></li> 
							<li><a href="">Product Discounts</a></li>
							<li><a href="">Special Offers</a></li> 
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift" aria-hidden="true"></i> Gift Cards<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="">Product Gift card</a></li> 
							<li><a href="">Occasions Register</a></li>
							<li><a href="">View Balance</a></li> 
						</ul> 
					</li> 
					<li class="dropdown head-dpdn">
						<a href="" class="dropdown-toggle"><i class="fa fa-map-marker" aria-hidden="true"></i> Store Finder</a>
					</li> 
					<li class="dropdown head-dpdn">
						<a href="" class="dropdown-toggle"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Credit Card</a>
					</li> 
					<li class="dropdown head-dpdn">
						<a href="" class="dropdown-toggle"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
					</li>
				</ul>
			</div>

			{% endif %}
			<div class="clearfix"> </div> 
		</div>
		<div class="header-two"><!-- header-two -->
			<div class="container">
				<div class="header-logo">
					<h1><a href="{% url 'main'%}"><span>D</span>ressUP <i>Baby</i></a></h1>
					<h6>Your stores. Your place.</h6> 
				</div>	
				<div class="header-search">
					<form action="#" method="post">
						<input type="search" name="Search" placeholder="Search for a Product..." required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<i class="fa fa-search" aria-hidden="true"> </i>
						</button>
					</form>
				</div>
				<div class="header-cart"> 
					<div class="my-account">
						<a href="contact.html"><i class="fa fa-map-marker" aria-hidden="true"></i> CONTACT US</a>						
					</div>
					<div class="cart"> 
						<form action="#" method="post" class="last"> 
							<input type="hidden" name="cmd" value="_cart" />
							<input type="hidden" name="display" value="1" />
							<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</form>  
					</div>
					<div class="clearfix"> </div> 
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div><!-- //header-two -->
		<div class="header-three"><!-- header-three -->
			<div class="container">
				<div class="menu">
					<div class="cd-dropdown-wrapper">
						<a class="cd-dropdown-trigger" href="#0">Store Categories</a>
						<nav class="cd-dropdown"> 
							<a href="#0" class="cd-close">Close</a>
							<ul class="cd-dropdown-content"> 
								<li><a href="offers.html">Today's Offers</a></li>
								<li class="has-children">
									 <!-- .has-children -->
								
								<li class="has-children">
									<a href="products2.html">Kids Fashion & Toys</a> 
									<ul class="cd-secondary-dropdown is-hidden"> 
										<li class="go-back"><a href="#">Menu</a></li>
										<li class="see-all"><a href="products2.html">All Kids Fashions</a></li>
										<li class="has-children">
											<a href="products2.html">KIDS CLOTHING</a> 
											<ul class="is-hidden"> 
												<li class="go-back"><a href="#">All Kids Fashions</a></li>
												<li><a href="{% url 'my_product1' %}">Bottom wear </a></li> 
												<li><a href="{% url 'my_product2'  %}">Top wear </a></li>
												<li><a href="{% url 'my_product3'  %}">Dresses & Frocks </a></li>
												<li><a href="{% url 'my_product4' %}">Diaper & Accessories</a></li>
											</ul>
										</li> 
										<li class="has-children"><a href="#">KIDS FASHION</a>
											<ul class="is-hidden">  
												<li class="go-back"><a href="#">All Kids Fashions</a></li>
												<li><a href="">Footwear</a></li> 
												<li><a href="">Sunglasses </a></li>
												<li><a href="">School & Stationery</a></li>
												<li><a href="">Jewellery</a></li>
												<li><a href="">Hair bands & Clips</a></li>
											</ul>
										</li>
										<li class="has-children"><a href="#">Baby Care</a>
											<ul class="is-hidden"> 
												<li class="go-back"><a href="#">All Kids Fashions</a></li>
												<li><a href="">Lotions, Oil & Powder </a></li> 
												<li><a href="">Soaps, Shampoo </a></li>
												<li><a href="">Bath Towels</a></li> 
												<li class="has-children">
													<a href="#">Feeding</a> 
													<ul class="is-hidden">
														<li class="go-back"><a href="#"> </a></li> 
														<li><a href="">Baby Food </a></li>
														<li><a href="">Bottle Feeding </a></li>
														<li><a href="">Breast Feeding</a></li>  
													</ul>
												</li>  
												<li><a href="">Toddlers' Rooms</a></li> 	
											</ul><!-- .cd-secondary-dropdown --> 
										</li> <!-- .has-children -->								
										<li class="has-children"><a href="#">TOYS & GAMES </a>
											<ul class="is-hidden"> 
												<li class="go-back"><a href="#">All Kids Fashions</a></li>
												<li><a href="">Art & Crafts</a></li> 
												<li><a href="">Educational Toys </a></li>
												<li><a href="">Baby Toys</a></li> 
												<li><a href="">Outdoor Play </a></li> 
												<li><a href="">Musical Instruments</a></li>
											</ul>
										</li>
										<li> 
											<ul class="is-hidden">
												<li class="go-back"><a href="#">All Kids Fashions</a></li>
												<li><a href="">Toy Tips & Trends</a></li> 
												<li><a href="">Preschool Toys</a></li>
												<li><a href="">Musical Instruments</a></li> 
												<li><a href="">Bikes & Ride-Ons</a></li>
												<li><a href="">Video Games</a></li>
												<li><a href="">PC & Digital Gaming</a></li>
											</ul>	
										</li> 
									</ul><!-- .cd-secondary-dropdown --> 
								</li> <!-- .has-children --> 
								
								
								<li><a href="sitemap.html">Full Site Directory </a></li>  
							</ul> <!-- .cd-dropdown-content -->
						</nav> <!-- .cd-dropdown -->
					</div> <!-- .cd-dropdown-wrapper -->	 
				</div>
				<div class="move-text">
					<div class="marquee"><a href="offers.html"> New collections are available here...... <span>Get extra 10% off on everything | no extra taxes </span> <span> Try shipping pass free for 15 days with unlimited</span></a></div>
					<script type="text/javascript" src="{%static 'js/jquery.marquee.min.js'%}"></script>
					<script>
					  $('.marquee').marquee({ pauseOnHover: true });
					  //@ sourceURL=pen.js
					</script>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->

	<!-- banner -->
	<div class="banner">
		<div id="kb" class="carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">
			<!-- Wrapper-for-Slides -->
            <div class="carousel-inner" role="listbox">  
                <div class="item active"><!-- First-Slide -->
                    <img src="images/5.jpg" alt="" class="img-responsive" />
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h3 data-animation="animated flipInX">Flat <span>50%</span> Discount</h3>
                        <h4 data-animation="animated flipInX">Hot Offer Today Only</h4>
                    </div>
                </div>  
                <div class="item"> <!-- Second-Slide -->
                    <img src="images/8.jpg" alt="" class="img-responsive" />
                    <div class="carousel-caption kb_caption kb_caption_right">
                        <h3 data-animation="animated fadeInDown">Our Latest Fashion Editorials</h3>
                        <h4 data-animation="animated fadeInUp">cupidatat non proident</h4>
                    </div>
                </div> 
                <div class="item"><!-- Third-Slide -->
                    <img src="images/3.jpg" alt="" class="img-responsive"/>
                    <div class="carousel-caption kb_caption kb_caption_center">
                        <h3 data-animation="animated fadeInLeft">End Of Season Sale</h3>
                        <h4 data-animation="animated flipInX">cupidatat non proident</h4>
                    </div>
                </div> 
            </div> 
            <!-- Left-Button -->
            <a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
				<span class="fa fa-angle-left kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a> 
            <!-- Right-Button -->
            <a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
                <span class="fa fa-angle-right kb_icons" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> 
        </div>
		<script src="{% static 'js/custom.js' %}"></script>
	</div>
	<!-- //banner -->  
	<!-- welcome -->
	<div class="welcome"> 
		<div class="container"> 


			<!-- {{ csrf_token }} -->
				
				<div class="container">
				<hr>
				<div class="col-sm-6">
				<!-- <table data-animate-effect="fadeIn" cellspacing="20" align="center">
					<tr>
					<td>
						<tr colspan="2">
							
						<td><button type="button" class="btn btn-block btn-success"><a href="" class="tag w3ls-cart">Add to Cart</a></button>
							</td>

							
						</tr>
						<tr>
							<td rowspan="6">
							<div class="item-block animate-box" data-animate-effect="fadeIn">
								<div class="fh5co-property ">
									
										
										<figure>
										<div class="new-tag"><h6 style="color:red">{{s.discount}}%<br>Off</h6></div>
										<img src = "{{s.pdt_image.url}}" style="width:400px;height:300px;" class="img-responsive" alt='hai'>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Full Frock" /> 
											<input type="hidden" name="amount" value="100.00" /> 
											<img src = "{{test.pdt_image.url}}" style="width:400px;height:300px;" class="img-responsive" alt='hai'>
										</form>  
							       		 </figure>
										
							        
							    </div>
							</div>
							<td><strong><h2 ><input type="hidden" id="product_name_id" value="{{test.product_name}}">{{test.product_name}}</h2></strong></td>
							</td>
						</tr>
						<tr>
							<td>Product Category : {{test.pdt_category}}</td>
						</tr>
						<tr>
							<td id="total" ><span class="price"><h1>${{test.price}}</h1>+<h6>tax</h6><h2>${{test.tax}}</h2><h3></h3><h1> </h1></span></td>
						</tr>
						<tr>
							<td class="dis">Discounts = {{test.discount}} %</td>
						</tr>
						
						<tr>
							<td>{{test.product_description}}</td>
						</tr>
					</td>
									
					</tr>
				</table> -->

				<table data-animate-effect="fadeIn" cellspacing="20" align="" class="table product-grids ">
					<tbody>
					<tr>
					<td >
						<tr colspan="2" class="success">
							
						<td>
								

						</td>
						<td class="success"></td>

						</tr>
						<tr class="success">
							<td rowspan="6" class="success">
							<div class="item-block animate-box" data-animate-effect="fadeIn">
								<div class="fh5co-property ">
										<figure>
										<div class="new-tag"><h6 style="color:red">{{test.discount}}%<br>Off</h6></div>
										<img src = "{{test.pdt_image.url}}" style="width:400px;height:300px;" class="img-responsive" alt='hai'>
										<form action="" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" id="cart3" value="{{test.product_name}}" /> 
											<input type="hidden" name="amount" value="{{test.price}}" /> 
											<a href="{% url 'add_to_cart' test.product_name %}">
												<button type="button" class="w3ls-cart" id="butt"><i class="fa fa-cart-plus" aria-hidden="true" ></i> Add to cart</button>
											</a> 
										
			
											
										</form>  
							       		 </figure>
										
							        
							    </div>
							</div>
							<td class="info"><st class="info"rong><h2>{{test.product_name}}</h2></strong></td>
							</td>
						</tr>
						<tr class="info">
							<td>Product Category : {{test.pdt_category}}</td>
						</tr>
						<tr class="info">
							<td id="total" ><span class="price"><h1>${{test.price}}</h1>+<h6>tax</h6><h2>${{test.tax}}</h2><h3></h3><h1></h1></span></td>
						</tr>
						<tr class="info">
							<td class="dis">Discounts = {{test.discount}} %</td>
						</tr>
						
						<tr class="info">
							<td>{{test.product_description}}</td>
						</tr>
					</td>
									
					</tr>
					</tbody>
				</table>
				
				

				</div>
				<div class="col-sm-6">
				<div class="jumbotron"></div>
				<div class="">
				<table class="table table-danger">
					<tr>
						<td><h5>Quantity Required  :</h5></td>
						<td><input type="text" name="amount_required" id="amounts_required"></td>
					</tr>
					<tr>
						<td>Size</td>
						<td>
							<select id="size_of_product">
								<option>__size__</option>
								<option name="0" value=0>0</option>
								<option name="16" value=16>16</option>
								<option name="18" value=18>18</option>
								<option name="20" value=20>20</option>
								<option name="22" value=22>22</option>
								<option name="24" value=24>24</option>
								<option name="26" value=26>26</option>
								<option name="28" value=28>28</option>
								<option name="30" value=30>30</option>
								


							</select></td>
					</tr>
					<tr>
						<th>Stocks</th>
					</tr>
					{% for s in stocks %}
					<tr>
						<td class="row">Size {{s.size}} =</td>
						<td class="row">{{s.stock}}</td>
						
					</tr>
					{% endfor %}
					<tr>
						<td>
					<button class="btn btn-danger" id="product_buy_click">Buy</button>
							
						</td>
					</tr>
					
					
				</table>
				</div>
				<div class="jumbotron"></div>

					

					
				</div>
				<hr>
				</div>

				

			<!-- 	<div class="view-caption agileits-w3layouts col-md-4"> 
					<h4><a href="products.html"> Birthday Frock</a></h4>
					<p>Lorem ipsum dolor sit amet consectetur</p>
					<h5>$100</h5> 
					<form action="#" method="post">
						<input type="hidden" name="cmd" value="_cart" />
						<input type="hidden" name="add" value="1" /> 
						<input type="hidden" name="w3ls_item" value="Birthday Frock" /> 
						<input type="hidden" name="amount" value="100.00" /> 
						<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
					</form>  
				</div>  

				<div class="view-caption agileits-w3layouts col-md-4"> 
					<h4><a href="products.html">Full Frock</a></h4>
					<p>Lorem ipsum dolor sit amet consectetur</p>
					<h5>$100</h5> 
					<form action="#" method="post">
						<input type="hidden" name="cmd" value="_cart" />
						<input type="hidden" name="add" value="1" /> 
						<input type="hidden" name="w3ls_item" value="Full Frock" /> 
						<input type="hidden" name="amount" value="100.00" /> 
						<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
					</form>  
				</div> 

				<div class="view-caption agileits-w3layouts col-md-4"> 
					<h4><a href="products.html">Shirts</a></h4>
					<p>Lorem ipsum dolor sit amet consectetur</p>
					<h5>$100</h5> 
					<form action="#" method="post">
						<input type="hidden" name="cmd" value="_cart" />
						<input type="hidden" name="add" value="1" /> 
						<input type="hidden" name="w3ls_item" value="Shirts" /> 
						<input type="hidden" name="amount" value="100.00" /> 
						<button type="submit" class="w3ls-cart" ><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
					</form>  
				</div>   -->

			</div>  	
		</div>  	
	</div> 
	<div class="modal" id="change_pdt_modal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="model-header">
							<button type="button" class="close class2" data-dismiss="modal" >&times;</button>
							<center><h4>Confirmation Menu</h4></center>
						</div>
						<div class="modal-body">
							<table>
								<tbody>
								<tr>
															<th>User Name : </th>
															<th>{{user}}</th>
								</tr>
								<tr>
															<th>Product Name : </th>
															<th><input type="hidden" id="pdt_name34" value="{{test.product_name}}">{{test.product_name}}</th>
								</tr>
								<tr>
															<th>Qantity Required : </th>
															<th><input type="text" name="" id="qnt_req"></th>
								</tr>
								<tr>
															<th>Size : </th>
															<th><input type="text" name="" id="siz_pdt"></th>
								</tr>
								<tr>
															<th>Password : </th>
															<th><input type="password" id="usr_pwd"></th>
								</tr>

								</tbody>

							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="" id="submit_pdt">Confirm</button>
							<button class="btn btn-danger class2" data-dismiss="modal">Close</button>
												
						</div>
					</div>
				</div>
			</div>
	
	<!-- //welcome -->
	<!-- add-products -->
	<div class="add-products"> 
		<div class="container">  
			<div class="add-products-row">
				<div class="w3ls-add-grids">
					<a href=""> 
						<h4>TOP 10 TRENDS FOR YOU FLAT <span>20%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-mdl">
					<a href=""> 
						<h4>SUNDAY SPECIAL DISCOUNT FLAT <span>40%</span> OFF</h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="w3ls-add-grids w3ls-add-grids-mdl1">
					<a href=""> 
						<h4>LATEST DESIGNS FOR YOU <span> Hurry !</span></h4>
						<h6>Shop now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h6>
					</a>
				</div>
				<div class="clerfix"> </div>
			</div>  	
		</div>  	
	</div>
	<!-- //add-products -->
	<!-- coming soon -->
	<div class="soon">
		<div class="container">
			<h3>Mega Deal Of the Week</h3>
			<h4>Coming Soon Don't Miss Out</h4>  
			<div id="countdown1" class="ClassyCountdownDemo"></div>
		</div> 
	</div>
	<!-- //coming soon -->
	<!-- deals -->
	<div class="deals"> 
		<div class="container"> 
			<h3 class="w3ls-title">GIFFTS OF THE DAY </h3>
			<div class="deals-row">
				<div class="col-md-3 focus-grid"> 
					<a href="" class="wthree-btn"> 
						<div class="focus-image"><i class="fa fa-mobile"></i></div>
						<h4 class="clrchg">Mobiles</h4> 
					</a>
				</div>
				<div class="col-md-3 focus-grid"> 
					<a href="" class="wthree-btn wthree1"> 
						<div class="focus-image"><i class="fa fa-laptop"></i></div>
						<h4 class="clrchg"> Electronics & Appliances</h4> 
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="" class="wthree-btn wthree2"> 
						<div class="focus-image"><i class="fa fa-wheelchair"></i></div>
						<h4 class="clrchg">Furnitures</h4>
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="" class="wthree-btn wthree3"> 
						<div class="focus-image"><i class="fa fa-home"></i></div>
						<h4 class="clrchg">Home Decor</h4>
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="" class="wthree-btn wthree3"> 
						<div class="focus-image"><i class="fa fa-book"></i></div>
						<h4 class="clrchg">Books & Music</h4> 
					</a>
				</div>
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="" class="wthree-btn wthree4"> 
						<div class="focus-image"><i class="fa fa-asterisk"></i></div>
						<h4 class="clrchg">Fashion</h4>
					</a>
				</div>
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="" class="wthree-btn wthree2"> 
						<div class="focus-image"><i class="fa fa-gamepad"></i></div>
						<h4 class="clrchg">Kids</h4>
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products5.html" class="wthree-btn wthree"> 
						<div class="focus-image"><i class="fa fa-shopping-basket"></i></div>
						<h4 class="clrchg">Groceries</h4>
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products7.html" class="wthree-btn wthree5"> 
						<div class="focus-image"><i class="fa fa-medkit"></i></div>
						<h4 class="clrchg">Health</h4> 
					</a>
				</div> 
				<div class="col-md-2 focus-grid w3focus-grid-mdl"> 
					<a href="products8.html" class="wthree-btn wthree1"> 
						<div class="focus-image"><i class="fa fa-car"></i></div>
						<h4 class="clrchg">Automotive</h4> 
					</a>
				</div>
				<div class="col-md-3 focus-grid"> 
					<a href="products5.html" class="wthree-btn wthree2"> 
						<div class="focus-image"><i class="fa fa-cutlery"></i></div>
						<h4 class="clrchg">Food</h4> 
					</a>
				</div>
				<div class="col-md-3 focus-grid"> 
					<a href="products4.html" class="wthree-btn wthree5"> 
						<div class="focus-image"><i class="fa fa-futbol-o"></i></div>
						<h4 class="clrchg">Sports</h4> 
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="products2.html" class="wthree-btn wthree3"> 
						<div class="focus-image"><i class="fa fa-gamepad"></i></div>
						<h4 class="clrchg">Games & Toys</h4> 
					</a>
				</div> 
				<div class="col-md-3 focus-grid"> 
					<a href="products6.html" class="wthree-btn "> 
						<div class="focus-image"><i class="fa fa-gift"></i></div>
						<h4 class="clrchg">Gifts</h4> 
					</a>
				</div> 
				<div class="clearfix"> </div>
			</div>  	
		</div>  	
	</div> 
	<!-- //deals --> 
	<!-- footer-top -->
	<div class="w3agile-ftr-top">
		<div class="container">
			<div class="ftr-toprow">
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>Online shopping for Kids</h4>
						<p>We, at Dress UP babay, have all that you need to spruce up your fashion quotient of your Kids. They get to look extra cute with clothing by top brands like Kingini </p>
					</div> 
					<div class="clearfix"> </div>
				</div> 
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>Avail added online shopping benefits</h4>
						<p>Make sure to use our card or cash on delivery option, easy 30-day returns policy, try and buy option (for select products), and other customer-friendly features. </p>
					</div> 
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 ftr-top-grids">
					<div class="ftr-top-left">
						<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
					</div> 
					<div class="ftr-top-right">
						<h4>ONLINE SHOPPING MADE EASY AT DRESS UP BABY </h4>
						<p>Dress UP babay, THE place to be when it comes to the latest in fashion, offers you fine, high-quality merchandise – go ahead and indulge in a bit of shopping online for men, women and kids</p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer-top --> 
	<!-- subscribe -->
	<div class="subscribe"> 
		<div class="container">
			<div class="col-md-6 social-icons w3-agile-icons">
				<h4>Keep in touch</h4>  
				<ul>
					<li><a href="#" class="fa fa-facebook icon facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon googleplus"> </a></li>
					<li><a href="#" class="fa fa-dribbble icon dribbble"> </a></li>
					<li><a href="#" class="fa fa-rss icon rss"> </a></li> 
				</ul>
				<ul class="apps"> 
					<li><h4>Download Our app : </h4> </li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-windows"></a></li>
					<li><a href="#" class="fa fa-android"></a></li>
				</ul>
			</div> 
			<div class="col-md-6 subscribe-right">
				<h4>Sign up for email and get 25%off!</h4>  
				<form action="#" method="post"> 
					<input type="text" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //subscribe --> 
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3-agileits-info">
				<div class="col-md-4 address-left agileinfo">
					<div class="footer-logo header-logo">
						<h2><a href="index.html"><span>D</span>ressUp <i>Baby</i></a></h2>
						<h6>kingini, Neericode</h6>
					</div>
					<ul>
						<li><i class="fa fa-map-marker"></i> Neericode, Cochin INDIA.</li>
						<li><i class="fa fa-mobile"></i> 80 86 89 1234 </li>
						<li><i class="fa fa-phone"></i> +222 11 4444 </li>
						<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> kingini@gamil.com</a></li>
					</ul> 
				</div>
				<div class="col-md-8 address-right">
					<div class="col-md-4 footer-grids">
						<h3>Company</h3>
						<ul>
							<li><a href="about.html">About Us</a></li>
							<li><a href="marketplace.html">Marketplace</a></li>  
							<li><a href="values.html">Core Values</a></li>  
							<li><a href="privacy.html">Privacy Policy</a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Services</h3>
						<ul>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="login.html">Returns</a></li> 
							<li><a href="faq.html">FAQ</a></li>
							<li><a href="sitemap.html">Site Map</a></li>
							<li><a href="login.html">Order Status</a></li>
						</ul> 
					</div>
					<div class="col-md-4 footer-grids">
						<h3>Payment Methods</h3>
						<ul>
							<li><i class="fa fa-laptop" aria-hidden="true"></i> Net Banking</li>
							<li><i class="fa fa-money" aria-hidden="true"></i> Cash On Delivery</li>
							<li><i class="fa fa-pie-chart" aria-hidden="true"></i>EMI Conversion</li>
							<li><i class="fa fa-gift" aria-hidden="true"></i> E-Gift Voucher</li>
							<li><i class="fa fa-credit-card" aria-hidden="true"></i> Debit/Credit Card</li>
						</ul>  
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer -->		
	<div class="copy-right"> 
		<div class="container">
			<p>© 2017 DressUpBaby. All rights reserved | Design by <a href="http://w3layouts.com"> Alan Alby</a></p>
		</div>
	</div> 
	<!-- cart-js -->
	<script src="{% static 'js/minicart.js' %}"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) {
        			items[i].set('shipping', 0);
        			items[i].set('shipping2', 0);
        		}
        	}
        });
    </script>  
	<!-- //cart-js --> 	 
	<!-- menu js aim -->
	<script src="{% static 'js/jquery.menu-aim.js'%}"> </script>
	<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
	<!-- //menu js aim --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>


 <style type="text/css">
.row{
	width:150px;
}
 </style>   

    

    
</body>
</html>